/data/DMI/
/data/metadata
/data/other

output/files
output/R_environment
output/tables
output/plots/old
output/plots/3_presentations
output/plots/plots_to_Rodrigo

scripts/markdowns/microbial_data_to_Rodrigo.html
scripts/markdowns/microbial_data_to_Rodrigo.Rmd
scripts/not_used

.Rhistory